*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
  color: $white;
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
}

body.resume-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-normal;
  margin: $base-margin;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 2rem;
}

a {
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
}

.container,
.transition-arrow {
  transition: opacity 3s;
}

.container {
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  &::after {
    clear: both;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.1em;
  }

  section {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
    margin: 0;
  }

  p {
    font-size: 1em;
    line-height: 1.7em;
  }

  section {
    margin-bottom: 0;
  }
}
