.footer {
  font-weight: 300;
  padding: 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.footer__container__btn {
  @media (max-width: 767px) {
    display: none;
  }
}

.footer__container__copyright {
  @media (max-width: 501px) {
    margin: 1rem;
  }
}

.footer__container__copyright__heart {
  margin: 0 .2rem;
  vertical-align: bottom;
}