.home-section {
  height: 99vh;
  margin-top: 80px;
  text-align: center;

  .container {
    position: relative;
    top: 6rem;
  }

  .transition-arrow {
    bottom: 1rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }

  @media only screen and (max-width: 767px) {
    margin-top: 58px;

    .container {
      top: 2.5rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .container {
      top: 1rem;
    }
  }
}
