.navbar {
  background: $black;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @media (max-width: 767px) {
    padding-top: 10px;
  }
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  align-items: center;
  display: flex;
  padding: .5rem 1rem 1rem;

  @media (max-width: 767px) {
    padding-left: 0;
    z-index: 3;
  }
}

.navbar__menu__mobile-link {
  display: none;

  @media (max-width: 767px) {
    display: block;
    z-index: 3;
  }
}

.navbar__menu {
  align-items: center;
  display: flex;

  @media (max-width: 767px) {
    &:before {
      background: $black;
      content: '';
      height: 58px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}

.navbar__menu__list {
  @media (max-width: 767px) {
    background: $black;
    left: 0;
    margin-top: 58px;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform .4s;
    width: 100%;
  }
}

.navbar__menu__list ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;

  @media (max-width: 767px) {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.navbar__menu__list li {
  padding: 1rem 2rem;

  @media (max-width: 767px) {
    border-bottom: 1px solid $white;

    &:first-child {
      border-top: 1px solid $white;
    }
  }
}

.navbar__menu__list--open {
  @media (max-width: 767px) {
    display: block;
    left: 0;
    margin-top: 58px;
    overflow-x: hidden;
    position: fixed;
    text-align: right;
    top: 0;
    z-index: 1;
  }
}

.navbar__menu__list.navbar__menu__list--open {
  transform: none;
}

.navbar__menu__list__link {
  border-bottom: 1px solid transparent;
  transition: border $transition-time;

  &:hover {
    border-bottom: 1px solid $white;
    transition: border $transition-time;
  }

  @media (max-width: 767px) {
    font-size: 1.5em;
    border-bottom: 0;

    &:hover {
      border-bottom: 0;
    }
  }
}