@import 'vendor';

.portfolio-section {
  .hex-grid {
    margin-top: 5rem;
  }

  .hexLink {
    cursor: default;

    &::before {
      font-size: 3em;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      text-rendering: geometricPrecision;
    }
  }

  .view-app {
    -webkit-appearance: none;
    background: $white;
    border-radius: 1rem;
    border: 1px solid $white;
    cursor: pointer;
    display: block;
    left: 50%;
    margin: 1rem 0 0;
    padding: .5rem 1rem;
    position: absolute;
    transform: translate(-50%);

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  .e-coin {
    background-image: linear-gradient(135deg, #52E5E7 0%, #130CB7 100%);

    &::before {
      content: 'Mr. Robot Ecoin';
    }
  }

  .nyc-status {
    background-image: linear-gradient( 135deg, #F97794 0%, #623AA2 100%);

    &::before {
      content: 'NYC Status';
    }
  }

  .acctwell {
    background: linear-gradient(135deg, #babfbf 0%, #1a1c1c 100%);
    &::before {
      content: 'Acctwell';
    }
  }

  .trek {
    background-image: linear-gradient( 135deg, #92FFC0 0%, #002661 100%);

    &::before {
      content: 'Trek';
    }
  }

  .dashboard {
    background-image: linear-gradient(135deg, #F05F57 0%, #360940 100%);

    &::before {
      content: 'Freelance Dashboard';
    }
  }

  @media only screen and (max-width: 767px) {
    .hex-grid {
      margin-top: 3rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .hex-grid {
      margin-top: 1rem;
    }

    .hexLink {
      &::before {
        font-size: 2em;
      }
    }

    .view-app {
      margin: .5rem 0 0;
    }

    .hex {
      h4 {
        font-size: 1.4em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  @media (max-width: 356px) {
    .hex {
      p {
        font-size: 1em;
      }
    }

    .view-app {
      padding: .4rem .8rem;
    }
  }
}
