.resume {
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  transform: translateX(100%);
  transition: transform .4s;

  .resume-display {
    margin-top: 2rem;
    width: 900px;
    height: 90%;
    max-width: 900px;
    position: absolute;
    width: 90%;
    height: 90%;
  }

  .resume-close {
    font-size: 1rem;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem .5rem 0 0;
    padding: .5rem;
    border: 2px solid $white;
    cursor: pointer;
    z-index: 5;
    transition: background-color .2s, color .2s;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
