.home-section {
  height: 99vh;
  margin-top: 80px;
  text-align: center;

  .container {
    position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    top: 6rem;
  }

  .transition-arrow {
    bottom: 1rem;
    position: absolute;
  }
}
