//VARIABLES
$black: #000;
$white: #fff;

//GLOBAL STYLES
body {
  background-color: $black;
  color: $white;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  color: $white;
  text-decoration: none;
}

section {
  margin-bottom: 10rem;
}

//NAV
nav {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .menu {
    display: flex;
    align-items: center;

    ul {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      list-style: none;

      li {
        padding: 20px;
      }
    }
  }
}

//HOME SECTION
.home-section {
  margin-top: 90px;
}
